body{
	background-image: url("../imgs/fondo6.png");
	background-repeat: no-repeat;
	background-size: cover;
}
FF7DAA
FFC0D9
FF9CC3
FF8FBB
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: #FFFFFF;

	border: 3px solid pink;
	background: linear-gradient(#FFC0D9, #FF8FBB);

border-image{
	border:solid transparent;
	border-image: url("../imgs/borde1.png") 200 stretch;}


border-image: url("../imgs/fondo6.png");
	border: 10px;

.simple-linear {
  background: linear-gradient(#FFC0D9, #FF8FBB);
}
h1{
	display: center;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 400px; 
	margin-right: 400px;
	color: #FF71A2;

}



h2{
	display: inline-block;
	text-align: center;
	padding-left: 59px;
	padding-right: 59px;
	background: linear-gradient(#FFC0D9, #FF8FBB);
	color: #FF71A2;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #FF367C;
	font-family: brush script MT;
	font-weight: 300;
	font-size: 35.2px;
	font-style: bold;
}

div{
	display: center;

}
.imagenesp {
	border:
	margin: 0px;
	text-align: center;

}

.border-image{
	border: 1.5px solid transparent;
	border-image: url("../imgs/borde2.png") 200 stretch;
}